.card-box{
    border: solid orange 3px;
    border-radius: 20px;
    box-shadow: 5px 10px rgb(248, 211, 141);
    height: 15rem;
    width: 12rem;
    margin: 1rem;
    /* padding: 1rem; */
}
.emoji{
    display: flex;
    justify-content: center;
    
}
.emoji>img{
    height: 5rem;
    width: 5rem;
}
.c-name{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center  ;
}
.c-name>p{
    margin: 0;
}
.c-brief{
    margin:0.8rem;
    padding: 0.2rem;
}