.contact-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding: 2rem;

}
.c-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.c-left>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
}
.c-left>:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: orange;
}

.c-right{
    display: flex;
    flex: 1;
    flex-direction: column
}
.contact-input{
    font-size: 1rem;
    width: 70%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 3px solid orange;
    outline: none;
   
}
.c-btn{
    width:10rem;
    display: block;

}
.c-btn:hover{
    background: white;
    border: 3px solid orange ;
    color: black;
    cursor: pointer;
}